.pie-chart {
justify-content: center;
text-align: center;
align-items: center;
flex: 0.4;
height: 280px;
margin: 10px;
padding: 10px;
margin-bottom: 80px;
}

.pie-chart-title {
margin: 10px;
padding: 10px;
}