.pie-chart {
  justify-content: space-around;
  text-align: center;
  width: 100vw;
  /* height: 100vh; */
  /* margin: 10px; */
  padding: 10px;
}

/* .pie-chart-title {
  margin: 10px;
  padding: 10px;
} */

