.homeItems {
  display: grid;
  /* justify-content: space-between; */
  /* height: 100vh; */
  background-color: #eeddd2;
}

.indexExpenses {
  /* text-align: center; */
  padding-left: 10vw;
  width: 100vw;
}

.mobile-class {
  background-color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop-class {
  background-color: blue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footerNav {
  display: flex;
  /* width: 100vw; */
  /* flex-direction: row; */
  justify-content: center;
  /* position: fixed; */
  /* bottom: 100px; */
  height: 10vh;
  text-decoration: none;
  color: lightcoral;
  background-color: #eeddd2;
  /* overflow: hidden; */
  text-align: center;
}

.addExpenseIcon {
  background-color: lightcoral;
  text-align: center;
  position: fixed;
  left: 45vw;
  bottom: 1vh;
}

.expensesListIcon {
  position: fixed;
  bottom: 1vh;
  left: 25vw;
}

.accountIcon {
  position: fixed;
  bottom: 1vh;
  left: 85vw;
}

.chartIcon {
  position: fixed;
  bottom: 1vh;
  left: 65vw;
}

.aboutIcon {
  position: fixed;
  bottom: 1vh;
  left: 45vw;
}