.signInForm, h3, h4 {
  text-align: center;
  background-color: #eeddd2
}

.expenseForm {
  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
  background-color: #eeddd2;
  height: 83vh;
}