.index {
  justify-content: center;
  /* text-align: center; */
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.yourExpenses {
  display: grid;
  width: 100vw;
  height: fit-content;
  background-color: white;
  place-content: center;
  justify-content: center;
  
  /* height: 100vh; */
  /* text-align: center; */
}