.noteCards {
  text-align: center;
  /* background-color: bisque; */
  font-size: 30px;
  font-family: Times;
  width: fit-content;
  color: darkgrey;
}

.buttonGroup {
  /* justify-content: center; */
  border: 2px solid darkgrey;
}

.showExpense {
  height: 86vh;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}