.homeItems {
  display: grid;
  /* justify-content: space-between; */
  overflow-x: auto;
  white-space: nowrap;
  height: 100vh;
  background-color: white;
  padding-top: 20px;
  
}

.indexExpenses {
  /* text-align: center; */
  padding-left: 10vw;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
}

.mobile-class {
  background-color: purple;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.desktop-class {
  /* background-color: blue; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

